<ion-header>
    <ion-toolbar>
        <div class="search_box d-flex animate__animated animate__zoomIn" (click)="search_result()">
            <div class="search_icon ion-text-start">
                <img src="assets/imgs/ic_explore.png">
            </div>
<!--            <ion-searchbar mode="md" class="ion-no-padding" searchIcon="hide" placeholder="{{'search' | translate}}"></ion-searchbar>-->
            <h6>{{'search' | translate}}</h6>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="banner animate__animated animate__fadeInUp">
        <ion-slides pager="true" loop="true">
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/imgs/banner_1.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/imgs/banner_2.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/imgs/banner_2.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/imgs/banner_1.png" class="crop_img">
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="container">
        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Artroscopy</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>



        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Pectus Cariatum Surgeon</h2>
                    <h3 class="d-flex">108.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>


        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Covid-19 reports</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>

                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Bone Leisures</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>



        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Cancer Therapy</h2>
                    <h3 class="d-flex">108.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>


        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Smoking Problems</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>

                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Dr.Who Interview</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>



        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Elder dependency</h2>
                    <h3 class="d-flex">108.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>


        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Food</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>

                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Dr.Who Interview</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>



        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>LaughOutLoud</h2>
                    <h3 class="d-flex">108.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/l4.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>


        <ion-card class="animate__animated animate__fadeInUp">
            <div class="card_header d-flex" (click)="videos_list()">
                <h4 class="ion-text-center">#</h4>
                <div class="text_box">
                    <h2>Food</h2>
                    <h3 class="d-flex">159.8k videos
                        <span class="end">{{'viaw_all' | translate}}
                            <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
                        </span>
                    </h3>
                </div>
            </div>

            <div class="scroll_container" lines="none">
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>

                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f1.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f2.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f3.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f4.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f5.png" class="crop_img">
                    </div>
                </div>
                <div class="item_scroll animate__animated animate__zoomIn" (click)="video_view()">
                    <div class="img_box center_img">
                        <img src="assets/imgs/f6.png" class="crop_img">
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>