ion-header ion-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ion-title {
        .title_inner {
            height: 70px;
            ion-icon {
                font-size: 1.6rem;
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(21 22 25 / 29%);
        transition: all 0.3s;
        backdrop-filter: blur(5px);
    }
    &.show-background {
        &::before {
            top: 0;
        }
    }
}


.buy_this_app {
    background: var(--primary);
    position: relative;
    bottom: 0px;
    right: 0px;
    border-radius: 4px;
    height: 32px;
    display: flex;
    align-items: center;
    min-width: 100px;
    width: fit-content;
    h2 {
        color: var(--white);
        display: flex;
        align-items: center;
        margin: auto;
        width: fit-content;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0;
        ion-icon {
            font-size: 1rem;
            min-width: 22px;
        }
    }
}

h2 {
    color: var(--white);
    display: flex;
    align-items: center;
    margin: 0.8rem;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0;
}

ion-content {
    &::after {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
        background: var(--bg-secondary);
    }
}

.option_container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding-top: 16px;
    .option {
        background: var(--bg-color);
        border-radius: 10px;
        height: auto;
        width: fit-content;
        overflow: hidden;
        position: absolute;
        right: 14px;
        padding: 8px 22px;
        min-width: 190px;
        top: 70px;
        transition: all 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        h2 {
            margin: 0;
            color: var(--white);
            font-size: 0.95rem;
            font-weight: 400;
            padding: 9px 0;
            width: 100%;
        }
    }
    &.active {
        right: 0;
        .option {
            padding: 10px 22px;
            transition: all 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.58);
        backdrop-filter: blur(5px);
    }
}

ion-content {
    --background: var(--bg-secondary);
}

.profile_box {
    color: var(--white);
    display: block;
    position: relative;  
    width: 100%;
    left: 0;
    right: 0;
    top: 60px;

    .img_box {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin: 0 auto;
    }

    h2 {
        margin: 0;
        font-size: 1.2rem;
    }
    h3 {
        color: var(--text-light);
        margin: 0;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .icon_box {
        width: 118px;
        margin: 18px auto;
        ion-icon {
            margin: 0 auto;
            font-size: 0.9rem;
        }
    }
    .about {
        p {
            margin: 0;
            font-size: 0.77rem;
            font-weight: 400;
        }
    }
    .btn_box {
        width: calc(100% - 76px);
        margin: 23px auto;
        ion-row {
            margin: 0 -8px;
            ion-col {
                padding: 0 8px;
                .button.btn {
                    font-size: 0.95rem;
                    height: 35px;
                    width: fit-content;
                    margin: 0 auto;
                    min-width: 130px;
                    &.button-outline {
                        color: var(--primary);
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .other_details {
        h2 {
            padding-bottom: 3px;
        }
        h3 {
            font-size: 0.85rem;
        }
    }
}

.my_videos {
    background: var(--bg-color);
    border-radius: 20px 20px 0 0;
    padding-top: 13px;
    .icon_box {
        padding-bottom: 15px;
        ion-icon {
            margin: 0 auto;
            color: var(--white);
            font-size: 1.3rem;
        }
    }
    .gallery {
        padding-bottom: 50px;
        ion-row {
            padding: 0 1.5px;
            ion-col {
                padding: 1.2px 1.2px;
                .item_box {
                    width: 100%;
                    height: 150px;
                    border-radius: 4px;
                    overflow: hidden;
                    --animate-duration: 0.2s;
                    .img_box {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                    p {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        width: 100%;
                        color: var(--white);
                        margin: 0;
                        font-size: 0.76rem;
                        padding: 0 7px;
                        ion-icon {
                            font-size: 0.8rem;
                            margin: 0 2px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }
    }
}

.animate__animated {
    &:nth-child(1) {
        --animate-duration: 0.15s;
    }
    &:nth-child(2) {
        --animate-duration: 0.2s;
    }
    &:nth-child(3) {
        --animate-duration: 0.25s;
    }
    &:nth-child(4) {
        --animate-duration: 0.3s;
    }
    &:nth-child(5) {
        --animate-duration: 0.35s;
    }
    &:nth-child(6) {
        --animate-duration: 0.4s;
    }
    &:nth-child(7) {
        --animate-duration: 0.45s;
    }
    &:nth-child(8) {
        --animate-duration: 0.5s;
    }
    &:nth-child(9) {
        --animate-duration: 0.55s;
    }
    &:nth-child(10) {
        --animate-duration: 0.6s;
    }
    &:nth-child(11) {
        --animate-duration: 0.65s;
    }
    &:nth-child(12) {
        --animate-duration: 0.7s;
    }
    &:nth-child(13) {
        --animate-duration: 0.5s;
    }
    &:nth-child(14) {
        --animate-duration: 0.5s;
    }
    &:nth-child(15) {
        --animate-duration: 0.5s;
    }
}

ion-footer {
    .developed_by {
        padding: 5px 20px 5px 20px;
        border-radius: 20px 20px 0 0;
        background: var(--bg-color);
        z-index: 999;
        position: relative;
        top: -45px;
        h2 {
            margin: 0;
            color: var(--white);
            font-size: 0.9rem;
            font-weight: 500;
            min-width: 41%;
            letter-spacing: 0;
        }
        .img_box {
            max-width: 150px;
        }
    }
}