ion-header ion-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    ion-title {
        text-align: justify !important;

        ion-icon {
            font-size: 1.4rem;
        }
    }
}

.camera_view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        height: 100%;
        width: auto;
        max-width: initial;
    }

}

ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;

    .filter {
        .scroll_container {
            white-space: nowrap;
            overflow: hidden;
            overflow-x: auto;

            .img_box {
                display: inline-block;
                height: 72px;
                width: 72px;
                border-radius: 5px;
                margin: 0 4px;

                &:first-child {
                    margin-left: 10px;
                }

                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }

    .options {
        padding: 12px 14px 0 14px;

        h2 {
            color: var(--white);
            margin: 0;
            font-size: .95rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            position: relative;
            z-index: 99;

            ion-icon {
                font-size: 1.35rem;
                min-width: 25px;
            }
        }

        .button.btn {
            height: 43px;
            width: fit-content;
            min-width: 91px;
            font-size: 1rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        display: block !important;
        opacity: .8;
    }
}

.animate__animated {
    &:nth-child(1) {
        --animate-duration: .15s;
    }

    &:nth-child(2) {
        --animate-duration: .2s;
    }

    &:nth-child(3) {
        --animate-duration: .25s;
    }

    &:nth-child(4) {
        --animate-duration: .3s;
    }

    &:nth-child(5) {
        --animate-duration: .35s;
    }

    &:nth-child(6) {
        --animate-duration: .4s;
    }

    &:nth-child(7) {
        --animate-duration: .45s;
    }

    &:nth-child(8) {
        --animate-duration: .5s;
    }

    &:nth-child(9) {
        --animate-duration: .55s;
    }

    &:nth-child(10) {
        --animate-duration: .6s;
    }

    &:nth-child(11) {
        --animate-duration: .65s;
    }

    &:nth-child(12) {
        --animate-duration: .7s;
    }

    &:nth-child(13) {
        --animate-duration: .5s;
    }

    &:nth-child(14) {
        --animate-duration: .5s;
    }

    &:nth-child(15) {
        --animate-duration: .5s;
    }
}
