<ion-header class="bg_transparent">
     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>   
</ion-header>

<ion-content fullscreen class="bg_color">
    <div class="camera_view">
        <img src="assets/imgs/video_3.png">
    </div>

   <div class="profile_box ion-text-center">
         <div class="img_box center_img animate__animated animate__fadeInUp">
            <img src="{{srcImagen}}" class="crop_img">
         </div>
         <div class="animate__animated animate__fadeInUp" style="width: 100%">
            <h2>{{ perfilRef[0]?.nombre }}</h2>
            <h3>{{ perfilRef[0]?.correo }}</h3>  
        </div>     
    </div>

   <section>
       <form action="" autocomplete="off" enctype="multipart/form-data">
        <p>Upload File</p>
         <div>
             <input type="file" (change)="loadVideoFromDevice($event)" id="upload" style="display: none;" accept="video/*">
             <label for="upload">{{ textLabel }}</label>    
         </div>  
         <button *ngIf="filesize > 0 && !loading" class="upload" (click)="cargarVideo()"><span>&#8682; Upload</span></button>
         <button *ngIf="loading" class="upload"><span class="uploading">Uploading......</span></button>
         <button *ngIf="loading" class="cancel" (click)="cancel()">Cancel</button>
         <div *ngIf="filesize > 0" class="pr">
            <strong >
                <h4 class="ex">{{ extension }}</h4>
                <h4 class="size">{{ sizevideo }}</h4>
            </strong>
            <progress value="0" max="100" value="{{ porcentaje }}"></progress>
            <span class="progress-indicator"></span>
         </div>   
         <div *ngIf="!loading && filesize == 0" style="text-align: center;">
            <img src="assets/imgs/vt_popup_img.png">
         </div>
         
       </form>
   </section>

</ion-content>

