<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'verification' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_color">
    <div class="form animate__animated animate__fadeInUp">
        <h2 class="ion-text-center">{{'verification_text_1' | translate}}<br>{{'verification_text_2' | translate}}<br>+1 987 654 3210</h2>
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label mode="md" position="floating">{{"verification_code" | translate}}</ion-label>
                <ion-input mode="md" type="email" value="588770"></ion-input>
            </ion-item>
        </ion-list>

    </div>
</ion-content>
<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <div class="form">
        <ion-button size="large" expand="block" class="btn" (click)="edit_profile()">{{'submit' | translate}}</ion-button>
        <h3 class="d-flex">{{'resend' | translate}} <span class="end">0:59 min</span></h3>
    </div>
</ion-footer>