 .form {
     padding-top: 10px;

     ion-item {
         &.item-datetime {
             ion-icon {
                 font-size: 1.3rem;
                 position: relative;
                 top: 26px;
             }
         }
     }
 }

 .animate__animated.animate__fadeInUp {
     &:nth-child(1) {
         --animate-duration: .15s;
     }

     &:nth-child(2) {
         --animate-duration: .2s;
     }

     &:nth-child(3) {
         --animate-duration: .25s;
     }

     &:nth-child(4) {
         --animate-duration: .3s;
     }

     &:nth-child(5) {
         --animate-duration: .35s;
     }

     &:nth-child(6) {
         --animate-duration: .4s;
     }

     &:nth-child(7) {
         --animate-duration: .45s;
     }

     &:nth-child(8) {
         --animate-duration: .5s;
     }

     &:nth-child(9) {
         --animate-duration: .55s;
     }

     &:nth-child(10) {
         --animate-duration: .6s;
     }

     &:nth-child(11) {
         --animate-duration: .65s;
     }

     &:nth-child(12) {
         --animate-duration: .7s;
     }

     &:nth-child(13) {
         --animate-duration: .5s;
     }

     &:nth-child(14) {
         --animate-duration: .5s;
     }

     &:nth-child(15) {
         --animate-duration: .5s;
     }
 }

 ion-footer {
     padding: 0 13px 30px 13px;
     background: var(--bg-color);
     --animate-duration: .3s;

     h2 {
         margin: 0;
         color: var(--text-light);
         font-size: .96rem;
         padding-bottom: 28px;
     }
 }

 ion-segment-button {
    --indicator-color: #08a391;
  }
  
  /* Material Design styles */
  ion-segment-button.md {
    --color: #000;
    --color-checked: #08a391;
    --indicator-height: 4px;
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color: #08a391;
    --color-checked: #fff;
    --border-radius: 20px;
  }

  .error-input {
    color: rgb(248, 54, 54);
    margin-top: 0.1px;
}