<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>DanceLikePro</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_color">
    <div class="video_row">
        <ion-row>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d2.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        2.8m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        98k
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d4.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d1.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
            <ion-col size="4" (click)="video_view()">
                <div class="item_box animate__animated animate__zoomIn">
                    <div class="img_box center_img">
                        <img src="assets/imgs/d3.png" class="crop_img">
                    </div>
                    <p>
                        <ion-icon class="zmdi zmdi-eye" text-center></ion-icon>
                        1.2m
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>