<!--
<ion-header>
  <ion-toolbar>
    <ion-title>comment</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content fullscreen (click)="dismiss()">

</ion-content>

<ion-footer class="ion-no-border">
    <h1>{{'comments' | translate}}</h1>
    <ion-list lines="none" class="comments">
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <p>Wow. Awesome dance. Amazing moves & music. Really appreciated. <span text-end>5m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Yell Jackson</h2>
                    <p>So amazing. I didn't event blincked while Watching a video. <span text-end>15m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter John</h2>
                    <p>What an energy in the dance. this girl is so talented. High five to you girl <span text-end>1d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lisa devil</h2>
                    <p> Awesome dance mate. <span text-end>2d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <p>Wow. Awesome dance. Amazing moves & music. Really appreciated. <span text-end>5m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Yell Jackson</h2>
                    <p>So amazing. I didn't event blincked while Watching a video. <span text-end>15m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter John</h2>
                    <p>What an energy in the dance. this girl is so talented. High five to you girl <span text-end>1d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lisa devil</h2>
                    <p> Awesome dance mate. <span text-end>2d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end "></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <p>Wow. Awesome dance. Amazing moves & music. Really appreciated. <span text-end>5m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Yell Jackson</h2>
                    <p>So amazing. I didn't event blincked while Watching a video. <span text-end>15m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter John</h2>
                    <p>What an energy in the dance. this girl is so talented. High five to you girl <span text-end>1d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lisa devil</h2>
                    <p> Awesome dance mate. <span text-end>2d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Emili Wiliamson</h2>
                    <p>Wow. Awesome dance. Amazing moves & music. Really appreciated. <span text-end>5m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Yell Jackson</h2>
                    <p>So amazing. I didn't event blincked while Watching a video. <span text-end>15m ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Peter John</h2>
                    <p>What an energy in the dance. this girl is so talented. High five to you girl <span text-end>1d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end"></ion-icon>
            </div>
        </ion-item>
        <ion-item (click)="user_profile()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Lisa devil</h2>
                    <p> Awesome dance mate. <span text-end>2d ago</span></p>
                </div>
                <ion-icon class="zmdi zmdi-favorite-outline ion-text-end end "></ion-icon>
            </div>
        </ion-item>
    </ion-list>

    <div class="write_your_comment form animate__animated animate__fadeInUp" lines="none">
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/user_profile.jpg" class="crop_img">
                </div>
                <ion-textarea rows="1"  auto-grow="true" mode="md" type="text" placeholder="{{'write_your_comment' | translate}}"></ion-textarea >
                <ion-icon class="zmdi zmdi-mail-send end ion-text-end"></ion-icon>
            </div>
        </ion-item>
    </div>
</ion-footer>